:root {
    --primary-color: #bd632f;
    --secondary-color: #d8973c;
    --neutral-color: #D8C99b;
    --neutral-dark: #273e47;
    --accent-color: #A4243B;
}

.container {
    background-color: var(--neutral-color);
}

h1, h2 {
    color: var(--primary-color);
}

h3 {
    color: var(--secondary-color);
}

p {
    color: var(--neutral-dark);
}

i {
    color: var(--accent-color);
}

.circle {
    width: 100px;
    height: 100px;
    background-color: var(--accent-color);
    border-radius: 50%;
}